/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #2e3192;
  color: white;
  margin: 0;
  padding: 5%;
  display: grid;
  grid-template-rows: 90vh 80vh 60vh;

}

h2 {
  font-weight: bolder;
}

/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

img{
  width: 100%;
}
.img-opacity{
  width: 12rem;
}

.sectionsRows{
  display:grid;
  grid-template-columns: 35% 65%;
}
.sectionsRows-img{
  justify-self: end;
}
.sectionsRows2{
  display:grid;
  grid-template-columns: 65% 35%;
}

.bg-box, .bg-paper, .bg-parachute{
  opacity: 0;
}
.show {
  opacity: 1;
}

.transition {    
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.foto-logo{
  width: 20%;
  position: absolute;
  top:0;
  left: 0;

}

button{
  padding: 10px 30px;
  color: #2e3192; 
  font-size:1.3rem;
  justify-content: center;
  margin-left: 120px;
  font-weight: bolder;
  border-radius: 50px;
  margin-top: 30px;
}

footer{
  width: 100%;
  bottom: 0;
  left: 0;
  margin-left: -70px;
  margin-bottom: -70px;
}

.tit{
  margin-top: -20px;
}
