/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 5%;
  display: grid;
  grid-template-rows: 100vh 100vh 100vh;

}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

img{
  width: 200px;
}

.sectionsRows{
  display:grid;
  grid-template-columns: 35% 65%;
}

.bg-box, .bg-paper, .bg-parachute{
  opacity: 0;
}
.show {
  opacity: 1;
}

.transition {    
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}